<div>
    <label for="_keyword">过滤条件</label>
    <input type="text" id="_keyword" placeholder="请输入字段" ng-model="vm.filter.$" ng-change="vm.search()">
</div>


<table class="table table-hover table-striped">
    <thread>
        <tr>
            <th>主题</th>
            <th>作者</th>
            <th>发帖时间</th>
        </tr>
    </thread>
    <tbody>
        <tr ng-repeat="item in items | filter:vm.filter | page:vm.page.index:5">
            <td>{{item.title}}</td>
            <td>{{item.poster}}</td>
            <td>{{item.dateCreated:date:'yyyy-MM-dd HH:mm'}}</td>
        </tr>
    </tbody>
    <label>
        页号:
        <input type="submit" ng-model="vm.page.index">
    </label>
</table>